.contact-details {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
}

.contact-details h1 {
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px !important;
}

.contact-details p {
    margin-top: 20px;
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px !important;
}

.contact-card {
    width: 75%;
    margin: 0 auto;
}

.contact-address p {
    padding: 10px 0px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px !important;
}

.contact-number {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    background: #574AC9;
}

.contact-mail {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    background: #7E6FFF;
}

.contact-location {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0px;
    border: none;
    border-radius: 10px;
    background: #585190;
}


/* aboutus page css start  */
.about-us .head-content {
    padding: 60px 0px;
}

.about-us .head-content h1 {
    padding-left: 50px;
    font-size: 46px;
    font-weight: 600;
    line-height: 56px !important;
}

.about-us .head-content p {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px !important;
}

.about-us .team-member h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px !important;

}

.about-us .team-member h2 {
    margin: 20px 0px;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px !important;
}

.about-us .team-member p {
    width: 75%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px !important;
}

.profile-card {
    position: relative;
    /* text-align: center; */
}
.card-image{
    width: 100%;
    height: 400px;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.teammate-name {
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #241D60;
    padding: 20px 10px;
    border: none;
    border-radius: 10px;
    bottom: -35px;
    z-index: 1;
    transition: 0.6s all;
}

.social-media {
    width: 70%;
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    background: #FFD731;
    position: absolute;
    left: 50%;
    bottom: -55px;
    transform: translateX(-50%);
    z-index: 0;
    transition: 0.6s all;
}

.profile-card:hover .teammate-name{
    bottom: -5px;
}

.team-part h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px !important;
    text-align: center;
    color: #FFF;
}

.team-part p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px !important;
    text-align: center;
    color: #FFF;
}

.delivery-section {
    background: #F2F2F2;
}

.delivery-section h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px !important;
}

.delivery-section p {
    padding: 15px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px !important;
}

.delivery-section ul li {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px !important;
}

.delivery-section ul li span {
    padding: 5px;
    margin-right: 10px;
    border-radius: 50%;
    background: #91f295;
}

.delivery-section button {
    background: #FFD731;
    padding: 10px 30px;
    border: none;
    border-radius: 43px;
}

.client-test {
    background: #FFF;
    padding: 100px 0px;
}

.client-test h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px !important;
}

.semi-colon {
    width: 30px !important;
    height: 30px !important;
}

.profile-img-section {
    width: 75px !important;
    height: 75px;
    display: block;
    border-radius: 50%;
}

.review-card {
    background: none !important;
}

.review-card p {
    padding: 20px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.review-card h5 {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px !important;
}

.review-card h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px !important;
    color: #999999;
}


.client-test .owl-nav {
    display: block !important;
}


.owl-nav [class*="owl-"] {
    position: absolute;
    top: -30%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.owl-prev {
    right: 35px;
    background: #FFF !important;
    border: 1px solid #E6E6E6 !important;
    border-radius: 50% !important;
}

.owl-next {
    right: -20px;
    background: #FFF !important;
    border: 1px solid #E6E6E6 !important;
    border-radius: 50% !important;
}

.owl-next span {
    font-size: 25px;
}

.owl-prev span {
    font-size: 25px;
}

.owl-next:hover {
    background: #FFD731 !important;
    border: 1px solid none !important;
    border-radius: 50% !important;
    color: #241D60 !important;
}

.owl-prev:hover {
    background: #FFD731 !important;
    border: 1px solid none !important;
    border-radius: 50% !important;
    color: #241D60 !important;
}

.owl-prev span::before {
    content: '' !important;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/right.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0;
}

.owl-next span::before {
    content: '' !important;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../image/left.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0;
}




/* media query css start  */

@media only screen and (min-width: 767px) and (max-width: 992px) {

    .contact-details {
        width: 90%;
        margin: 0 auto;
        padding-top: 0px;
    }

    .contact-card {
        width: 95%;
        margin: 0 auto;
    }

    /* about us css start  */
    .delivery-section .container-80 {
        max-width: 98%;
    }

    .delivery-image {
        width: auto !important;
    }

    .delivery-section h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 50px !important;
    }

    .client-test .container-80 {
        max-width: 98%;
    }

    .owl-nav [class*="owl-"] {
        top: -30%;
    }

    .owl-prev {
        right: 60px;
    }

    .owl-next {
        right: 15px;
    }

    /* team-member css start  */
   

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .contact-details {
        width: 95%;
        margin: 0 auto;
        padding-top: 0px;
    }

    .contact-card {
        width: 95%;
        margin: 0 auto;
    }



    /* about us css start  */

    .about-us .head-content {
        padding: 10px 0px;
    }

    .about-us .head-content h1 {
        padding-left: 10px;
        font-size: 35px;
        font-weight: 600;
        line-height: 45px !important;
    }

    .about-us .head-content p {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px !important;
    }

    .delivery-section .container-80 {
        max-width: 98%;
    }

    .delivery-section h1 {
        font-size: 35px;
        line-height: 45px !important;
    }

    .client-test h1 {
        font-size: 35px;
        line-height: 45px !important;
    }

    .client-test .container-80 {
        max-width: 98%;
    }

    .owl-nav [class*="owl-"] {
        top: -30%;
    }

    .owl-prev {
        right: 60px;
    }

    .owl-next {
        right: 15px;
    }
    .about-us .team-member p {
        width: 95%;
    }
    

}

@media only screen and (min-width: 300px) and (max-width: 576px) {
    .contact .container-90 {
        max-width: 95%;
        margin: 0 auto;
    }

    .contact-details {
        width: 98%;
        margin: 0 auto;
        padding-top: 0px;
    }

    .contact-card {
        width: 98%;
        margin: 0 auto;
    }

    .contact-details h1 {
        font-size: 30px;
        line-height: 40px !important;
    }

    .contact-details p {
        font-size: 14px;
        line-height: 24px !important;
    }


    /* about us css start  */
    .about-us .container-90 {
        max-width: 98%;
        margin: 0 auto;
    }

    .about-us .head-content {
        padding: 10px 0px;
    }

    .about-us .head-content h1 {
        padding-left: 10px;
        font-size: 28px;
        line-height: 38px !important;
    }

    .about-us .head-content p {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px !important;
    }

    .delivery-section .container-80 {
        max-width: 98%;
    }

    .delivery-section h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 40px !important;
    }

    .client-test h1 {
        font-size: 22px;
        line-height: 32px !important;
    }

    .client-test .container-80 {
        max-width: 98%;
    }

    .owl-nav [class*="owl-"] {
        top: -30%;
        width: 30px;
        height: 30px;
    }

    .owl-prev {
        right: 45px;
    }

    .owl-next {
        right: 10px;
    }

    .owl-prev span::before {
        width: 12px;
        height: 12px;
    }

    .owl-prev span {
        font-size: 20px;
    }

    .owl-next span::before {
        width: 12px;
        height: 12px;
    }

    .owl-next span {
        font-size: 20px;
    }

    .profile-card {
        margin-bottom: 15px;
    }
    .card-image{
        width: 100%;
        height: 600px;
    }
    .about-us .team-member h2 {
        font-size: 30px;
        line-height: 40px !important;
    }
    .about-us .team-member p {
        width: 95%;
        font-size: 14px;
        line-height: 24px !important;
    }
   
}