* {
    margin: 0;
    padding: 0;
    font-family: Poppins !important;
    line-height: normal !important;

}


.container-60 {
    max-width: 60%;
    margin: 0 auto;
}

.container-70 {
    max-width: 70%;
    margin: 0 auto;
}

.container-75 {
    max-width: 75%;
    margin: 0 auto;
}

.container-80 {
    max-width: 80%;
    margin: 0 auto;
}

.container-85 {
    max-width: 85%;
    margin: 0 auto;
}

.container-90 {
    max-width: 90%;
    margin: 0 auto;
}

.container-95 {
    max-width: 95%;
    margin: 0 auto;
}



.bg-color {
    border-radius: 15px;
    background: #4F45A1;
}

.bg-color h5 {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}

.register-hover:hover {
    cursor: pointer;
}

.phone_number {
    color: #FFF !important;
    font-size: 15px;
    font-weight: 400;
}

.input-section {
    width: 40% ;
    height: 70%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(170, 170, 170, 0.25);
    padding: 40px;
    position: absolute;
    top: 12%;
    left: 5%;
    
}

.register-section .input-section{
    width: 35% !important;
    height: 90% !important;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(170, 170, 170, 0.25);
    padding: 40px;
    position: absolute;
    top: 5%;
    left: 7%;
}
.login-section h4 {
    margin-bottom: 22px;
    color: #000;
    font-size: 30px;
    font-weight: 500;
}

.login-section h5 {
    padding: 5px 0px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.login-section h5 span {
    color: #241D60;
    font-size: 16px;
    font-weight: 600;
}

.login-section label {
    color: #999;
    font-size: 13px;
    font-weight: 500;
}

.login-section input::placeholder {
    padding-bottom: 25px;
    color: #5D5D5D;
    font-size: 16px;
    font-weight: 400;
}

.rember {
    color: #191919;
    font-size: 12px;
    font-weight: 300;
}

.forget {
    color: #4D4D4D;
    font-size: 12px;
    font-weight: 300;
}

.btn-section button {
    width: 100%;
    margin-top: 50px;
    border: none;
    padding: 10px 50px;
    border-radius: 32px;
    background: #FFD731;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.25);
    color: #241D60;
    font-size: 17px;
    font-weight: 600;
}

.login-section .or {
    color: #B5B5B5;
    font-size: 16px;
    font-weight: 500;
}


@media (max-width: 992px) {
    .input-section {
        padding: 15px;
    }
    /* .input-section {
        width: 40%;
        height: 100%;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 6px 0px rgba(170, 170, 170, 0.25);
        padding: 20px;
        position: absolute;
        top: 0%;
        left: 5%;
    } */
    .input-section{
        width: 95%;
        height: 100%;
        margin: 0 auto;
        left: 0;
        position: relative;
    }
    .btn-section button {
        width: 25%;
        margin: 25px 0px;
    }
}

@media only screen and (min-width: 566px) and (max-width: 992px){
    .input-section {
        padding: 50px;
    }
    .input-section{
        width: 95%;
        margin: 0 auto;
        left: 0;
    }
    .btn-section button {
        width: 30%;
        margin: 25px 0px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 566px){

    .input-section {
        padding: 10px;
    }
    .btn-section button {
        width: 50%;
        margin: 25px 0px;
    }
    

}