/* footer css start  */

.footer-section {
    /* height: 100%; */
    background-image: url('../image/footer-bg.png');
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.footer-section .icon-section img {
    padding: 11px !important;
    font-size: 20px;
}

.footer-section h6 {
    margin: 10px 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.footer-section p {
    margin: 10px 0px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.icon-content span {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-bottom {
    margin-top: 20px;
    padding: 10px 0px;
    background: rgba(36, 29, 96, 0.75);
    backdrop-filter: blur(5.5px);
}

.footer-list ul li {
    display: inline-block;
    padding: 0px 15px;
    border-right: 2px solid #FFF;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-list h4 {
    margin: 20px 0px;
    color: #3B3B3B;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


.footer-list ul li:last-child {
    border-right: none !important;
}


@media only screen and (min-width: 556px) and (max-width: 767px) {
    
    .footer-list ul li {
        padding: 0px 10px;
    }

}




.wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    /* height: 100vh; */
    padding: 2rem;
    background-color: #eee;
}
.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #fff;
    width: 768px;
    height: 100%;
    border-radius: 0.25rem;
    box-shadow: 0rem 1rem 2rem -0.25rem rgba(0, 0, 0, 0.25);
}
.container__heading {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.container__heading > h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin: 0;
}
.container__content {
    flex-grow: 1;
    overflow-y: scroll;
}
.container__nav {
    border-top: 1px solid #ccc;
    text-align: right;
    padding: 2rem 0 1rem;
}
.container__nav > .button {
    background-color: #449;
    box-shadow: 0rem 0.5rem 1rem -0.125rem rgba(0, 0, 0, 0.25);
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: transform 0.25s, box-shadow 0.25s;
}
.container__nav > .button:hover {
    box-shadow: 0rem 0rem 1rem -0.125rem rgba(0, 0, 0, 0.25);
    transform: translateY(-0.5rem);
}
.container__nav > small {
    color: #777;
    margin-right: 1rem;
}
