* {
    margin: 0;
    padding: 0;
    font-family: Poppins !important;
    line-height: normal !important;

}


.container-60 {
    max-width: 60%;
    margin: 0 auto;
}

.container-70 {
    max-width: 70%;
    margin: 0 auto;
}

.container-75 {
    max-width: 75%;
    margin: 0 auto;
}

.container-80 {
    max-width: 80%;
    margin: 0 auto;
}

.container-85 {
    max-width: 85%;
    margin: 0 auto;
}

.container-90 {
    max-width: 90%;
    margin: 0 auto;
}

.container-95 {
    max-width: 95%;
    margin: 0 auto;
}

.container-100 {
    max-width: 100%;
    margin: 0 auto;
}

/* css start  */

.top-header {
    background: #4F45A1;
    backdrop-filter: blur(3px);
}

.top-header h4 {
    color: #FFF !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.sticky-header {
    z-index: 100;
}

.sticky-element {
    background: #FFF;
}

.input-set {
    border-radius: 6px 10px 10px 6px;
    border: 1px solid #E6E6E6;
    background: #FFF;
}

.input-set input::placeholder {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.input-set button {
    width: 30%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background: #3CB043;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.icon-section {
    position: relative;
}

.like-count {
    position: absolute;
    top: -12px !important;
    left: 12px !important;
    display: inline-block;
    border-radius: 50%;
    background: #EA4B48;
    color: #FFF;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 25px !important;
}

.item-count {
    position: absolute;
    top: -12px !important;
    left: 27px !important;
    display: inline-block;
    border-radius: 50%;
    background: #EA4B48;
    color: #FFF;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    line-height: 25px !important;
}

.authregister {
    padding: 10px 20px;
    border: none;
    border-radius: 24.709px;
    border: 1px solid var(--Btn3, #241D60);
    background: transparent;
    color: #241D60;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.authregister:hover {
    padding: 10px 20px;
    border: none;
    border-radius: 24.709px;
    border: 1px solid var(--Btn3, #FFD731);
    background: #FFD731;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* nav section start  */

.nav-section {
    background: var(--Btn_in, #241D60);
}

.dropdown-toggle::after {
    content: none !important;
}





/* category list css start  */
.category-lis ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.category-lis ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.category-lis ul li a.active {
    background-color: #04AA6D;
    color: white;
}

.category-lis ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: 0;
    top: 57px;
}
.mega-menu-li:hover ~ .dropdown-menu{
    position: absolute;
    left: 0;
    top: 60px;
}


/* .navbar-expand-lg .navbar-collapse {
    display: block !important;
} */

.nav-content {
    width: 100%;
    /* justify-content: space-around; */
}

.mega-menu-li {
    position: static;
}

.list-group .active {
    color: #000 !important;
    background-color: var(--bs-list-group-bg) !important;
    color: #000 !important;
    font-size: 15px !important;
    font-weight: 0;
    text-transform: uppercase;
}

.list-group-item.active {
    border-color: #e5eaf1 !important;
}

.drop-width {
    position: static;
}

.space-item {
    display: grid !important;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
}
.drop-width .list-group .list-group-item {
    color: #000 !important;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}
.drop-width .list-group .list-group-item:hover {
    color: #241D60 !important;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}


.nav-content li {
    padding-right: 65px;
}

.nav-content li a:hover {
    color: #FFF000 !important;
    font-weight: 500;
    line-height: 23px;
}

nav .active {
    color: #FFF000 !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    text-transform: uppercase;
}

nav .custom-active {
    color: #FFF !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    text-transform: uppercase;
}

.option-list {
    color: #FFF !important;
    font-size: 13px;
    font-weight: 500;
    line-height: 23px !important;
}

.head-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.search-btn {
    padding: 10px 40px;
    border-radius: 0px 7px 6px 0px;
    background: var(--Btn3, #FFD731);
    color: #241D60;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

/* nav mobile view css start  */
.sidebar {
    width: 65%;
    height: 100%;
    background: #241D60;
    position: fixed;
    left: 0;
    top: 0;
}

.close-btn {
    padding: 10px;
    position: fixed;
    right: 15%;
    top: 10%;
    z-index: 999;
    border: none;
    background: #FFD731;
    border-radius: 10px;
}

.nav-section .collapse:not(.show) {
    display: block !important;
}

[aria-expanded="true"] {
    /* Styles for when aria-expanded is true */
    display: block !important;
}

.sidebar .nav-content {
    margin-top: 50px;
}

.sidebar .nav-content li {
    margin-bottom: 20px;
    margin-left: 20px;
}

.sidebar .nav-content li a {
    font-size: 18px;
}



/* @media (min-width: 768px) {
    
} */

.otp-form .input-section {
    height: auto !important;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.otp-container input {
    width: 75%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
}

.otp-container button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

/* @media screen and (max-width: 600px) {
    .otp-container input {
      height: 40px;
      font-size: 1.2rem;
    }
  
    .otp-container button {
      height: 40px;
      font-size: 1.2rem;
    }
  } */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .nav-content li {
        padding-bottom: 20px;
        padding-right: 0px;
    }

    nav .active {
        color: #241D60 !important;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        text-transform: uppercase;
    }

    nav .custom-active {
        color: #000 !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        text-transform: uppercase;
    }

    .option-list {
        color: #000 !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px !important;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: unset;
        left: 0;
        top: auto;
        border: none;
    }

    .list-group-flush h5 {
        font-size: 16px;
        line-height: 26px !important;
        font-weight: 500;
    }

}


@media only screen and (min-width: 300px) and (max-width: 768px) {
    .container-60 {
        max-width: 70%;
        margin: 0 auto;
    }

    .logo-fixed {
        display: none !important
    }

    .like-count {
        top: -5px !important;
        left: 30px !important;
    }

    .item-count {
        top: -5px !important;
        left: 25px !important;
    }

    .otp-input {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .nav-content li {
        padding-bottom: 20px;
        padding-right: 0px;
    }

    nav .active {
        color: #241D60 !important;
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        text-transform: uppercase;
    }

    nav .custom-active {
        color: #000 !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
        text-transform: uppercase;
    }

    .option-list {
        color: #000 !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px !important;
    }

    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: unset;
        left: 0;
        top: auto;
        border: none;
    }

    .user-profiles .dropdown-menu {
        margin-left: -48px;
        margin-top: 8px;
        min-width: auto !important;
    }

    .search-fixed {
        position: fixed;
        width: 100%;
        top: 186px;
        left: 0;
    }

    .list-group-flush h5 {
        font-size: 16px;
        line-height: 26px !important;
        font-weight: 500;
    }

    .mobile-register {
        padding: 5px;
        border: none;
        border-radius: 10px;
        background: none;
        border: 1px solid #ccc;
        color: #FFF;

    }
}





/* @media only screen and (min-width: 0px) and (max-width: 576px) {
    .nav-section {
        padding: 10px 0px;
    }

    .logo-design {
        display: none !important;
    }

    .sidebar .nav-content {
        margin-top: 0px;
    }

} */

/* Circle behind */